.track-info-table {
  display: grid;
  text-align: center;
  padding: 0;
  user-select: none;
  border-bottom: black solid 1px;
  .curve-info-wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 12px;
    align-items: start;
    row-gap: 0;
    .no-curve-info{
      display: grid;
      height: 35px;
      border-top: black solid 1px;
      border-bottom: black solid 1px;
      place-items: center;
    }
    .curve-info {
      display: grid;
      height: 35px;
      place-items: center;
      .curve-color {
        border: none;
        width: 100%;
      }

      .curve-measure {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: stretch;
        width: 100%;

      }
    }
    ul{
      border-top: black solid 1px;
      border-bottom: black solid 1px;
      //border-left: black solid 1px;
    }
  }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0;

      }
  }
}

